/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main .large-header {
	background-image: url('../img/demo-2-bg.jpg');
}

#info {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	font-weight: 100;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

h1, h2 {
	font-weight: 200;
	margin: 0px;
}

h1 {
}

h2 {
	font-size: 20px;
}

.main-title .big {
	/*font-weight: 100;*/
}

@media only screen and (max-width : 768px) {
	.main .main-title{
		font-size: 3em;
	}
}

a {
	color: white !important;
}

#intro{
	font-size: .75em;
	font-weight: 300;
	margin: 0 0 50px 35px;
	border-left: 1px solid #da520e;
	padding-left: 10px;
}
